/* =========================================
   RESPONSIVE (DESKTOP/TABLET)
   Formato base: Mobile First
   Estilo base: style.css (mobile).
   Regras para telas maiores que 768px (tablet e desktop).
   ========================================= */

/* Tablet & Desktop (>= 768px) */
@media screen and (min-width: 768px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  /* Aumenta a fonte */
  .hero h1 {
    font-size: 3.75rem;
    line-height: 1;
  }

  /* Navegação: Exibe Desktop, Esconde o Mobile Button */
  .nav-desktop {
    display: flex;
  }

  header .menu-mobile__btn {
    display: none;
  }

  /* Tamanho da Barra de Busca */
  .search-wrapper {
    width: 75%;
  }

  /* Layout Acordeon: Switch to Row (Side-by-Side) */
  .card-content-split {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .card-content-split .left-side {
    flex-basis: 55%;
  }

  .card-content-split .right-side {
    flex-basis: 40%;
  }
}

/* Large Desktop (>= 1024px) */
@media screen and (min-width: 1024px) {
  .search-wrapper {
    width: 66.666667%;
  }
}

/* Altera o Layout do Timeline (>= 480px) */
/* Altera de acordeão para círculo */
@media screen and (min-width: 480px) {
  .timeline-mobile-view {
    display: none !important;
  }

  .timeline-circle {
    display: block;
  }
}
